.contato {
    width: 100%;
    height: 30vh;
    display: flex;
    grid-template-areas: "title title title" "contatos social links";
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: space-around;
    background-color: #EFE3CC;
    top: 15vh;
}

.contato__container {
    grid-area: contatos;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: -5vh;
}

.contato__title {
    font-size: 1.5rem;
}

.contato__item {
    display: flex;
    gap: 16px;
    font-size: 1.5rem;
}

.contato__item__text {
    font-size: 1.25rem;
}

.social__container {
    grid-area: social;
    display: flex;
    gap: 10px;
    font-size: 2rem;
    margin-left: -12vh;
}

.social {
    width: 64px;
    height: 64px;
    background-color: #FFFAF0;
    display: flex;
    place-content: initial;
    justify-content: center;
    align-items: center;
}

.links__container {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
}

.links__title {
    font-size: 1.5rem;
}